.container {
  width: 100%;
  margin-top: 5rem;
}

.goBack {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-700);
  cursor: pointer;
  text-decoration: none;
}

.cardContainer {
  display: flex;
  flex-flow: column;
  border: 0.1rem solid var(--primary-500);
  border-radius: 0.3rem;
  padding: 2rem;
  margin: 0.5rem 0;

  @media (min-width: 960px) {
    flex-flow: row;
  }
}

.left {
  display: flex;
  justify-content: center;
}

.imageContainer {
  width: 380px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  margin: 0 3rem;
}

.rightContent {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 1rem;

  > div {
    margin-top: 1rem;
  }

  @media (min-width: 960px) {
    align-items: flex-start;
    justify-content: space-around;
  }
}

.title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary-700);
}

.innerTitle {
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--primary-500);
}

.text {
  font-size: 1.5rem;
  color: var(--primary-500);
}

.likesContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  padding-left: 5rem;
}
